<div class="bdy">
    <section fxLayout= "row" fxLayoutGap="10px">
        <div class="bg">
            <h2>10,000 <br><span>Total Sale</span></h2>
        </div>
        <div class="bg">
            <h2>2,345 <br><span>Invoices</span></h2>
        </div>
        <div class="bg">
            <h2>145 <br><span>Stores</span></h2>
        </div>
        <div class="bg">
            <h2>2,333 <br><span>Product</span></h2>
        </div>
        <div class="bg">
            <h2>32 <br><span>Pur.Order</span></h2>
        </div>
    </section>
    <section fxLayout= "row" fxLayoutGap="50px" class="se2">
        <div>
            <h4>Date</h4>
            <select name="" id="">
                <option value="">Today</option>
            </select>
        </div>
        <div>
            <h4>Region</h4>
            <select name="" id="">
                <option value="">All</option>
            </select>
        </div>
        <div>
            <h4>Store</h4>
            <select name="" id="">
                <option value="">All</option>
            </select>
        </div>
        <div>
            <input type="text" placeholder="Filter">
        </div>
    </section>
    <mat-card class="chart">
        <canvas id="myChart" height="60px" >

        </canvas>
        <h4>March 2020</h4>
    </mat-card>
</div>
